@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

.mappedMenu{
   background: /*linear-gradient(rgba(242, 253, 253, 0.7), rgba(242, 253, 253, 0.7)), */
     url(https://cdn.shopify.com/s/files/1/0002/9949/9571/files/E18_Ingredients_Header_aec4ddf0-5639-408d-bec3-4aa697b7f991_1920x720.jpg?v=1537209286) center/cover no-repeat fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.get-menu-info{
  background-color: rgba(245, 245, 245, 0.75);;
  width: calc(33.33% - 40px);
  height: auto;
  border: 2px solid rgb(248, 245, 245);
  margin: 20px;
  padding: 20px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
  font-weight: 900;
  font-family: 'Hind Siliguri', sans-serif;
}
.dish-title {
  font-size: 2em;
  font-weight: 900;
  word-break: break-all;
  font-family: 'Asap', sans-serif;
  text-decoration: underline;
}
.text {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.h1{
  text-align: center;
}
pre {
  white-space: pre-wrap;       
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;     
  white-space: -o-pre-wrap;    
  word-wrap: break-word;       
 }